PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/chiranjeevi-ayurveda
JWT_SECRET=your_jwt_secret_key
# For email notifications (Nodemailer)
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
DOCTOR_EMAILS=doctor-email-1@gmail.com,doctor-email-2@gmail.com
